<div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget_title">Последние комментарии</h4>
                            <ul class="twitter_list">
                                <li class="twitter-item">

                                    <div class="twitter-content">

		{% for comment in comments %}
				{{ comment.author }}: {{ comment.content|striptags }}<br>
				{% empty %}
				Комментариев нет.
				{% endfor %}

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>